# Ignore build output directories
target/
build/

# Exclude Maven Wrapper jar
!.mvn/wrapper/maven-wrapper.jar

# Exclude target directories within src/main and src/test
!**/src/main/**/target/
!**/src/test/**/target/

# IDE-specific exclusions
### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

# Exclude build directories within src/main and src/test
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

### ENV Code ###
.env
web/front end/temptxt
